/* Basic Layout */
@media (min-width: 768px) {
    #main {
        margin-left: 200px;
    }
}

@media (max-width: 767px) {
    .navbar-toggle {
        display: block !important;
    }

    #app-title {
        display: none;
    }

    #eyp-logo {
        position: relative;
        top: 8px;
        left: 10px !important;
    }
}

#main {
    padding-top: 65px;
    z-index: 1;
    height: 100vh;
    background-color: white;
}

#main .page-header {
    margin-top: 0;
}

#alerts {
    position: fixed;
    width: 100%;
    z-index: 1040;
}

#sidebar-main-menu .dropdown {
    margin-bottom: .5em;
}

#sidebar-main-menu .active .menu-item {
    background-color: inherit;
}

.navmenu {
    width: 200px;
    padding-top: 5px;
    top: 51px;
    z-index: 0;
}

.navbar-toggle {
    float: left;
    margin-right: 0;
    margin-left: 10px;
}

.navbar-right {
    float: right;
    margin-right: 0;
}

#user-menu.navbar-nav {
    margin: 0;
}

#user-menu.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

#eyp-logo {
    position: relative;
    top: 8px;
    left: -15px;
    display: block;
    float: left;
}

.view {
    margin-bottom: 20px;
}

.box {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    margin-bottom: 15px;
}

.box h4 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}

.box ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.box li {
    margin-bottom: .5em;
}

.mono {
    font-family: monospace;
}

.detail-image {
    max-width: 300px;
    max-heigth: 300px;
    border-radius: 3px;
}

/* Bootstrap overwrites */
.alert {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
}

.alert-success {
    background-color: rgba(214, 233, 198, 0.8);
}

.alert-info {
    background-color: rgba(188, 232, 241, 0.8);
}

.alert-warning {
    background-color: rgba(250, 235, 204, 0.8);
}

.alert-danger {
    background-color: rgba(235, 204, 209, 0.8);
}

.header-button {
    float: right;
}

.submit-button {
    width: 100%;
}

.form-control.checkbox {
    box-shadow: none;
}

.fileinput {
    margin-bottom: 0;
}

.table-dt {
    width: 30%;
    font-weight: bold;
    text-align: right;
    border-top: 1px solid #efefef !important;
}

.table-dd {
    border-top: 1px solid #efefef !important;
}

.table-detail tr:first-child td {
    border-top: none !important;
}

/* Loading animation */
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/* Installer */
.installer {
    text-align: center;
}

.installer h1 {
    margin-bottom: 1em;
}

.installer p {
    font-size: 1.3em;
    margin-bottom: 1.3em;
}

.installer button {
    margin-bottom: 1.3em;
}

.installer p.small {
    font-size: 1em;
}

/* Signin */

#form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#form-signin #form-signin-heading,
#form-signin .checkbox {
    margin-bottom: 10px;
}

#form-signin .checkbox {
    font-weight: normal;
}

#form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

#form-signin .form-control:focus { 
    z-index: 2;
}
#form-signin input[type="text"] { 
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* EYP theme changes */
.navbar-inverse {
    background-color: #1E4E8A;
    border-color: #1E4E8A;
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #1B4275;
}

.navbar-inverse .navbar-toggle {
    border-color: #1B4275;
}

#sidebar-main-menu .dropdown-toggle {
    font-size: 16px;
}

.navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a,
.navmenu-default .navmenu-nav > .open > a,
.navbar-default .navbar-offcanvas .navmenu-nav > .open > a,
.navmenu-default .navmenu-nav > .open > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > .open > a:hover,
.navmenu-default .navmenu-nav > .open > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > .open > a:focus,
.navmenu-default .navmenu-nav > .active > a,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a,
.navmenu-default .navmenu-nav > .active > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover,
.navmenu-default .navmenu-nav > .active > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus {
    color: inherit;
}

.bootstrap-table .table {
    border-bottom: 0px;
}

.bootstrap-table .table thead > tr > th {
    border-bottom-width: 1px;
}

.bootstrap-table .table tr[data-bg-color='red'] {
    background-color: rgba(255, 0, 0, 0.1);
}

.bootstrap-table .table tr[data-bg-color='green'] {
    background-color: rgba(0, 255, 0, 0.1);
}

.bootstrap-table .table tr[data-bg-color='yellow'] {
    background-color: rgba(255, 255, 0, 0.1);
}

.bootstrap-table .table tr[data-bg-color='blue'] {
    background-color: rgba(0, 0, 255, 0.1);
}

.bootstrap-table .table tr[data-bg-color='purple'] {
    background-color: rgba(128, 0, 128, 0.1);
}

.bootstrap-table .table tr[data-bg-color='orange'] {
    background-color: rgba(255, 100, 0, 0.1);
}

.btn-primary {
    background-color: #1E4E8A;
    border-color: #1B4275;
    color: white;
}

a {
    color: #1E4E8A;
}